

.startPoint{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #0000000c;
}


.startPoint:hover{
    background: #ebebeb;
}

#header{
    /*width: 900px;*/
    height: 50px;
    cursor: pointer;
    /*background: hotpink;*/
    /*margin-bottom: px;*/
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-bottom: 4px solid black ;


}

#header .gnb-container{
    cursor: pointer;
    display: flex;

}

#header .gnb-right{
    cursor: pointer;
    position: relative;
    display: flex;
}

.gnb02 {
    opacity: 0.3;
}
.gnb02:hover  {
    opacity: 1;
}

.gnb03 {
    opacity: 0.3;
}
.gnb03:hover  {
    opacity: 1;
}
.gnb04 {
    opacity: 0.3;
}
.gnb04:hover  {
    opacity: 1;
}
.gnb05 {
    opacity: 0.3;
}
.gnb05:hover  {
    opacity: 1;
}

.gnb06 {
    opacity: 0.3;
}
.gnb06:hover  {
    opacity: 1;
}


#section01{
    background:url(../img2/2profile/main_bg.jpg);
    height:1500px;
}

.window_container{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);

}

.window_container > div:hover {
    /* margin-bottom: -300px; */
    transition: all 0.2s linear;

}
.window_container > div img  {
    transition: all 0.2s linear;

    /*height: 90px;*/
}

.window_container > div:hover  img{
    transform: scale(1.2);

    /*height: 90px;*/
}

.window_container > div:hover + div{
    transform: translateY(100px);

}


.window04 {
    position: absolute;
    top: 0px;
    transition: all 0.2s linear;
}
/*.window04:hover  {*/
/*    !*transform: scale(1.2);*!*/
/*    height: 2000px;*/
/*}*/

.window05 {
    position: relative;
    top: 500px;
    transition: all 0.2s linear;
}
/*.window05:hover  {*/
/*    !*transform: scale(1.2);*!*/
/*    height: 2000px;*/
/*}*/

















