

.startPoint{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #0000000c;
}


.startPoint:hover{
    background: #ebebeb;
}

#header{
    /*width: 900px;*/
    height: 50px;
    cursor: pointer;
    /*background: hotpink;*/
    /*margin-bottom: px;*/
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-bottom: 4px solid black ;


}

#header .gnb-container{
    cursor: pointer;
    display: flex;

}

#header .gnb-right{
    cursor: pointer;
    position: relative;
    display: flex;
}

.gnb02 {
    opacity: 0.3;
}
.gnb02:hover  {
    opacity: 1;
}

.gnb03 {
    opacity: 0.3;
}
.gnb03:hover  {
    opacity: 1;
}
.gnb04 {
    opacity: 0.3;
}
.gnb04:hover  {
    opacity: 1;
}
.gnb05 {
    opacity: 0.3;
}
.gnb05:hover  {
    opacity: 1;
}

.gnb06 {
    opacity: 0.3;
}
.gnb06:hover  {
    opacity: 1;
}






#section01{
    background-color: #fff;
   /*background:url(../img2/1main/portfolio_work.jpg);*/
   height:5356px;
}

#section02{
    background-color: #fff;
   /*background:url(../img2/1main/portfolio_work.jpg);*/
   height:5844px;
}

#section03{
    background-color: #fff;
   /*background:url(../img2/1main/portfolio_work.jpg);*/
   height:5878px;
}



/*#section01 .title{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    opacity:0;*/
/*    position: absolute;*/
/*    left: 226px;*/
/*    top: 307px;*/

/*    transform:translateY(300px);*/
/*    transition: all 1s;*/
/*}*/


/*#section01 .title.on{*/
/*    transform:none;*/
/*    Opacity:1;*/
/* */
/*}*/





/*#section01 .title2{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    Opacity:0;*/
/*    position: absolute;*/
/*    left: 226px;*/
/*    top: 475px;*/

/*    transform:skewY(60deg);*/
/*    transition: all 1s;*/
/*}*/


/*#section01 .title2.on{*/
/*    transform:none;*/
/*    Opacity:1;*/
/* */
/*}*/




#section04{
    background:url(../img2/2footer/footer_bg.png);
    height:500px;
}

.footertt-container{
    position: relative;
    text-align: center;
    top: 150px;
}

.ft_title{
    opacity: 0;
    transform:translateY(50px);
    transition: all 1s;
}


.ft_title.on{
    transform:none;
    opacity:1;

}

.ft_title2{
    opacity: 0;
    transform:translateY(50px);
    transition: all 1s;
}


.ft_title2.on{
    transform:none;
    opacity:1;

}

.footerbt-container{
    display: flex;
    width: 1920px;
    position: absolute;
    justify-content: space-between;
}

.ft_button1{
    cursor: pointer;
}

.ft_button2{
    cursor: pointer;
}


.ft_contact{
    position: absolute;
    left: 50px;
    bottom: 80px;

}


.footer-listbutton{
    cursor: pointer;
    position: absolute;
    display: flex;
    right: 0;
    bottom: 80px;
}












