

.startPoint{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #0000000c;
}


.startPoint:hover{
    background: #ebebeb;
}




#section01{
   background:url(../img2/1main/main_bg.png);
   height:970px;
}



#section01 .main{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 133px;
    top: 135px;

    transform: scale(00);
    transition: all 1s;
}


#section01 .main.on{
    transform:none;
    opacity:1;
 
}





#section01 .main2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 167px;
    top: 323px;

    transform:translateY(200px);
    transition: all 1s;
}


#section01 .main2.on{
    transform:none;
    opacity:1;
 
}


#section01 .main4 {
    width: 1616px;
    height: 1649px;
    opacity: 0;
    position: absolute;
    left: 10px;
    top: -190px;

    transform: translateY(300px);
    transition: all 1s;
}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

#section01 .main4.on {
    transform: none;
    opacity: 1;
    animation: rotate_image 6s linear infinite;
    transform-origin: 50% 50%;
}



#section01 .main3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 645px;
    top: -730px;

    transform: translateY(-300px) translateX(300px);
    transition: all 1s;
}


#section01 .main3.on{
    transform:none;
    opacity:1;

}











#section02{
    background:url(../img2/2overview/overview_bg.png);
    height:857px;
}


#section02 .overview{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 205px;
    top: 210px;

    transform: translateY(300px);
    transition: all 1s;
}


#section02 .overview.on{
    transform:none;
    opacity:1;

}

#section02 .overview2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 875px;
    top: 120px;

    transform: scale(00);
    transition: all 1s;
}


#section02 .overview2.on{
    transform:none;
    opacity:1;

}

#section02 .overview3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1390px;
    top: 350px;

    transform: scale(00);
    transition: all 1s;
}


#section02 .overview3.on{
    transform:none;
    opacity:1;

}


#section02 .overview4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 940px;
    top: 160px;

    transform: scale(00);
    transition: all 1s;
}


#section02 .overview4.on{
    transform:none;
    opacity:1;

}

#section02 .overview5{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 885px;
    top: 445px;

    transform: scale(00);
    transition: all 1s;
}


#section02 .overview5.on{
    transform:none;
    opacity:1;

}

#section02 .overview6{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1075px;
    top: 270px;

    transform: scale(00);
    transition: all 1s;
}


#section02 .overview6.on{
    transform:none;
    opacity:1;

}


#section03{
    background:url(../img2/3keyword/keyword_bg.png);
    height:853px;
}




#section03 .keyword{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 540px;
    top: 125px;

    transform:translateY(200px);
    transition: all 1s;
}


#section03 .keyword.on{
    transform:none;
    opacity:1;

}


#section03 .keyword2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 450px;
    top: 522px;

    transform: scale(00);
    transition: all 1s;
}


#section03 .keyword2.on{
    transform:none;
    opacity:1;

}



#section03 .keyword3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 720px;
    top: 607px;

    transform: scale(00);
    transition: all 1s;
}


#section03 .keyword3.on{
    transform:none;
    opacity:1;

}



#section03 .keyword4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 928px;
    top: 490px;

    transform: scale(00);
    transition: all 1s;
}


#section03 .keyword4.on{
    transform:none;
    opacity:1;

}



#section03 .keyword5{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1210px;
    top: 582px;

    transform: scale(00);
    transition: all 1s;
}


#section03 .keyword5.on{
    transform:none;
    opacity:1;

}




#section04{
    background:url(../img2/4asistobe/asistobe_bg.png);
    height:853px;
}

#section04 .asistobe{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 255px;
    top: 377px;

    transform:translateY(200px);
    transition: all 1s;
}


#section04 .asistobe.on{
    transform:none;
    opacity:1;

}

#section04 .asistobe2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1090px;
    top: 377px;

    transform:translateY(200px);
    transition: all 1s;
}


#section04 .asistobe2.on {
    transform: none;
    opacity: 1;

}


#section04 .asistobe0{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1650px;
    top:-220px;

    transform: scale(00);
    transition: all 1s;
}


#section04 .asistobe0.on {
    transform: none;
    opacity: 1;

}



#section05{
    background:url(../img2/5persona/persona_bg.png);
    height:1083px;
}

#section05 .persona{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 213px;
    top:368px;

    transform: scale(00);
    transition: all 1s;
}


#section05 .persona.on {
    transform: none;
    opacity: 1;

}
#section05 .persona2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1035px;
    top:368px;

    transform: scale(00);
    transition: all 1s;
}


#section05 .persona2.on {
    transform: none;
    opacity: 1;

}

#section05 .persona3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 465px;
    top:771px;

    transform: translateY(300px);
    transition: all 1s;
}


#section05 .persona3.on {
    transform: none;
    opacity: 1;

}

#section05 .persona4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1290px;
    top:792px;

    transform: translateY(300px);
    transition: all 1s;
}


#section05 .persona4.on {
    transform: none;
    opacity: 1;

}


#section05 .persona5{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 604px;
    top:387px;

    transform: translateX(-100px);
    transition: all 1s;
}


#section05 .persona5.on {
    transform: none;
    opacity: 1;

}

#section05 .persona6{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1426px;
    top:387px;

    transform: translateX(-100px);
    transition: all 1s;
}


#section05 .persona6.on {
    transform: none;
    opacity: 1;

}



#section06{
    background:url(../img2/6jnmap/jnmap_bg.png);
    height:1246px;
}


#section06 .jnmap{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 213px;
    top:727px;

    transform: scale(00);
    transition: all 1s;
}


#section06 .jnmap.on {
    transform: none;
    opacity: 1;

}

#section06 .jnmap2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 557px;
    top:760px;

    transform: scale(00);
    transition: all 1s;
}


#section06 .jnmap2.on {
    transform: none;
    opacity: 1;

}

#section06 .jnmap3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 880px;
    top:760px;

    transform: scale(00);
    transition: all 1s;
}


#section06 .jnmap3.on {
    transform: none;
    opacity: 1;

}

#section06 .jnmap4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1220px;
    top:805px;

    transform: scale(00);
    transition: all 1s;
}


#section06 .jnmap4.on {
    transform: none;
    opacity: 1;

}

#section06 .jnmap5{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1545px;
    top:844px;

    transform: scale(00);
    transition: all 1s;
}


#section06 .jnmap5.on {
    transform: none;
    opacity: 1;

}


#section07{
    background:url(../img2/7imgrd/imgrd_bg.png);
    height:756px;
}

#section07 .imgrd {
    width: 1550px;
    height: 1550px;
    opacity: 0;
    position: absolute;
    left: -480px;
    top: -108px;

    transform: translateY(300px);
    transition: all 1s;
}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

#section07 .imgrd.on {
    transform: none;
    opacity: 1;
    animation: rotate_image 6s linear infinite;
    transform-origin: 50% 50%;
}

#section07 .imgrd2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 0px;
    top:0px;

    transform: translateY(300px);
    transition: all 1s;
}


#section07 .imgrd2.on {
    transform: none;
    opacity: 1;

}


#section08{
    background:url(../img2/8preview/preview_bg.png);
    height:3295px;
}

#section08 .preview0{
    position: absolute;
    left: -50px;
    top: 400px;
    opacity: 0;
    transform: translateX(-400px);
    transition: all 1s;
}
#section08 .preview0.on {
    transform: none;
    opacity: 1;

}

#section08 .preview_mkup{
    position: absolute;
    left: 585px;
    top:633px;
    z-index: 99;
    /*transform: translateY(300px);*/
    /*transition: all 1s;*/
}
/*#section08 .preview.on {*/
/*    transform: none;*/
/*    opacity: 1;*/

/*}*/

#section08 .preview_movie{
    position: absolute;
    left: 897px;
    top:768px;
}
video {
    border-radius: 20px;
}


#section08 .preview2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1200px;
    top:995px;

    transform: translateY(300px);
    transition: all 1s;
}
#section08 .preview2.on {
    transform: none;
    opacity: 1;

}
#section08 .preview3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 3px;
    top:1525px;

    transform: translateY(300px);
    transition: all 1s;
}
#section08 .preview3.on {
    transform: none;
    opacity: 1;

}

#section08 .preview4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1080px;
    top:2040px;

    transform: translateY(300px);
    transition: all 1s;
}
#section08 .preview4.on {
    transform: none;
    opacity: 1;

}
#section08 .preview5{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 750px;
    top:2060px;

    transform: scale(00);
    transition: all 1s;
}
#section08 .preview5.on {
    transform: none;
    opacity: 1;

}


#section09{
    background:url(../img2/9stylegd/stylegd_bg.png);
    height:1828px;
}

#section09 .stylegd{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 260px;
    top:-680px;

    transform: translateY(300px);
    transition: all 1s;
}
#section09 .stylegd.on {
    transform: none;
    opacity: 1;

}


#section09 .stylegd2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: -230px;
    top:645px;

    transform: translateX(-300px);
    transition: all 1s;
}
#section09 .stylegd2.on {
    transform: none;
    opacity: 1;

}
#section09 .stylegd3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 500px;
    top:645px;

    transform: translateX(-300px);
    transition: all 1s;
}
#section09 .stylegd3.on {
    transform: none;
    opacity: 1;

}

#section09 .stylegd4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 860px;
    top:645px;

    transform: translateX(-300px);
    transition: all 1s;
}
#section09 .stylegd4.on {
    transform: none;
    opacity: 1;

}
#section09 .stylegd5{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1575px;
    top:645px;

    transform: translateX(-300px);
    transition: all 1s;
}
#section09 .stylegd5.on {
    transform: none;
    opacity: 1;

}

#section09 .stylegd6{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 514px;
    top:1286px;

    transform: translateY(-300px);
    transition: all 1s;
}
#section09 .stylegd6.on {
    transform: none;
    opacity: 1;

}
#section09 .stylegd7{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 514px;
    top:1370px;

    transform: translateY(-300px);
    transition: all 1s;
}
#section09 .stylegd7.on {
    transform: none;
    opacity: 1;

}

#section09 .stylegd8{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 514px;
    top:1468px;

    transform: translateY(-300px);
    transition: all 1s;
}
#section09 .stylegd8.on {
    transform: none;
    opacity: 1;

}
#section09 .stylegd9{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 514px;
    top:1550px;

    transform: translateY(-300px);
    transition: all 1s;
}
#section09 .stylegd9.on {
    transform: none;
    opacity: 1;

}

#section09 .stylegd10{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1293px;
    top:1286px;

    transform: translateY(-300px);
    transition: all 1s;
}
#section09 .stylegd10.on {
    transform: none;
    opacity: 1;

}

#section09 .stylegd11{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1293px;
    top:1390px;

    transform: translateY(-300px);
    transition: all 1s;
}
#section09 .stylegd11.on {
    transform: none;
    opacity: 1;

}
#section09 .stylegd12{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1293px;
    top:1467px;

    transform: translateY(-300px);
    transition: all 1s;
}
#section09 .stylegd12.on {
    transform: none;
    opacity: 1;

}


#section09 .stylegd13{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1293px;
    top:1551px;

    transform: translateY(-300px);
    transition: all 1s;
}
#section09 .stylegd13.on {
    transform: none;
    opacity: 1;

}




#section10{
    background:url(../img2/10flowct/flowct_bg.png);
    height:1346px;
}


#section10 .flowct{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 92px;
    top:457px;

    transform: translateY(300px);
    transition: all 1s;
}
#section10 .flowct.on {
    transform: none;
    opacity: 1;

}



#section11{
    background:url(../img2/11wirefm/wirefm_bg.png);
    height:1232px;
}


#section11 .wirefm{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 0px;
    top:0px;

    transform: translateY(-300px);
    transition: all 1s;
}
#section11 .wirefm.on {
    transform: none;
    opacity: 1;

}


#section11 .wirefm2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 0px;
    top:0px;

    transform: translateY(0px);
    transition: all 1s;
}
#section11 .wirefm2.on {
    transform: none;
    opacity: 1;

}


#section12{
    background:url(../img2/12imgrd2/imgrd2_bg.png);
    height:1175px;
}

#section12 .imgrd2-0{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 472px;
    top:214px;

    transform: translateY(300px);
    transition: all 1s;
}
#section12 .imgrd2-0.on {
    transform: none;
    opacity: 1;

}


#section12 .imgrd2-1{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1027px;
    top:215px;

    transform: translateY(300px);
    transition: all 1s;
}
#section12 .imgrd2-1.on {
    transform: none;
    opacity: 1;

}
#section12 .imgrd2-2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 235px;
    top:735px;

    transform: scale(00);
    transition: all 1s;
}
#section12 .imgrd2-2.on {
    transform: none;
    opacity: 1;

}


#section13{
    background:url(../img2/13splash/splash_bg.png);
    height:1357px;
}



#section13 .splash_rolling{
    position: absolute;
    left: 100px;
    top: 618px;
    display: flex;
    /*height: 1200px;*/
    right: 0;
    animation: rolling 10s infinite linear;

}

@keyframes rolling {
    to{
        transform: translateX(-1638px);
    }
}

#section13 .splashmkup{
    position: absolute;
    left: 400px;
    top: 400px;
}





/*#section13 .splash{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    opacity:0;*/
/*    position: absolute;*/
/*    left: 200px;*/
/*    top:620px;*/

/*    transform: scale(00);*/
/*    transition: all 1s;*/
/*}*/
/*#section13 .splash.on {*/
/*    transform: none;*/
/*    opacity: 1;*/

/*}*/
/*#section13 .splash2{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    opacity:0;*/
/*    position: absolute;*/
/*    left: 1020px;*/
/*    top:620px;*/

/*    transform: scale(00);*/
/*    transition: all 1s;*/
/*}*/
/*#section13 .splash2.on {*/
/*    transform: none;*/
/*    opacity: 1;*/

/*}*/

/*#section13 .splash3{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    opacity:0;*/
/*    position: absolute;*/
/*    left: 1420px;*/
/*    top:620px;*/

/*    transform: scale(00);*/
/*    transition: all 1s;*/
/*}*/
/*#section13 .splash3.on {*/
/*    transform: none;*/
/*    opacity: 1;*/

/*}*/


#section14{
    background:url(../img2/14login/login_bg.png);
    height:1170px;
}


#section14 .login{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: -160px;
    top:370px;

    transform: translateY(300px);
    transition: all 1s;
}
#section14 .login.on {
    transform: none;
    opacity: 1;

}
#section14 .login2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 315px;
    top:255px;

    transform: translateY(300px);
    transition: all 1s;
}
#section14 .login2.on {
    transform: none;
    opacity: 1;

}
.login_movie_container{
    /*position: absolute;*/
}

#section14 .login3{
    width: 200px;
    height: 200px;
    /*opacity:0;*/
    position: absolute;
    left: 605px;
    top: 410px;
    /*transform: translateY(300px);*/
    /*transition: all 1s;*/
}
/*#section14 .login3.on {*/
/*    transform: none;*/
/*    opacity: 1;*/

/*}*/
#section14 .login_movie{
    position: absolute;
    left: 800px;
    top: 500px;
}



#section14 .login4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1303px;
    top:776px;

    transform: scale(00);
    transition: all 1s;
}
#section14 .login4.on {
    transform: none;
    opacity: 1;

}
#section14 .login5{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1370px;
    top:776px;

    transform: scale(00);
    transition: all 1s;
}
#section14 .login5.on {
    transform: none;
    opacity: 1;

}
#section14 .login6{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1437px;
    top:776px;

    transform: scale(00);
    transition: all 1s;
}
#section14 .login6.on {
    transform: none;
    opacity: 1;

}

#section14 .login7{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1514px;
    top:776px;

    transform: scale(00);
    transition: all 1s;
}
#section14 .login7.on {
    transform: none;
    opacity: 1;

}


#section14 .login8{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1584px;
    top:776px;

    transform: scale(00);
    transition: all 1s;
}
#section14 .login8.on {
    transform: none;
    opacity: 1;

}


#section14 .login9{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1648px;
    top:776px;

    transform: scale(00);
    transition: all 1s;
}
#section14 .login9.on {
    transform: none;
    opacity: 1;

}


#section15{
    background:url(../img2/15checkpt/checkpt_bg.png);
    height:1475px;
}

.ckpt_movie_container{
    position: absolute;
    left: 200px;
}

.checkpt_mkup{
    position: absolute;
    left: -250px;
    top:415px;
    z-index: 99;
}

.checkpt_movie{
    position: absolute;
    left: -56px;
    top: 500px;
}

.checkpt_pop_container{
    position: absolute;
    left: 220px;
}


#section15 .checkpt{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 315px;
    top:705px;

    transform: scale(00);
    transition: all 1s;
}
#section15 .checkpt.on {
    transform: none;
    opacity: 1;

}

#section15 .checkpt2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 630px;
    top:705px;

    transform: scale(00);
    transition: all 1s;
}
#section15 .checkpt2.on {
    transform: none;
    opacity: 1;

}

#section15 .checkpt3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 963px;
    top:705px;

    transform: scale(00);
    transition: all 1s;
}
#section15 .checkpt3.on {
    transform: none;
    opacity: 1;

}
#section15 .checkpt4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1298px;
    top:705px;

    transform: scale(00);
    transition: all 1s;
}
#section15 .checkpt4.on {
    transform: none;
    opacity: 1;

}


#section16{
    background:url(../img2/16mainhm/mainhm_bg.png);
    height:2221px;
}


#section16 .mainhm{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 300px;
    top:417px;

    transform: scale(00);
    transition: all 1s;
}
#section16 .mainhm.on {
    transform: none;
    opacity: 1;

}

#section16 .mainhm2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 94px;
    top:952px;

    transform: translateX(300px);
    transition: all 1s;
}
#section16 .mainhm2.on {
    transform: none;
    opacity: 1;

}

#section16 .mainhm3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 284px;
    top:952px;

    transform: translateX(200px);
    transition: all 1s;
}
#section16 .mainhm3.on {
    transform: none;
    opacity: 1;

}

#section16 .mainhm4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 467px;
    top:952px;

    transform: translateX(300px);
    transition: all 1s;
}
#section16 .mainhm4.on {
    transform: none;
    opacity: 1;

}

#section16 .mainhm5{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 648px;
    top:952px;

    transform: translateX(300px);
    transition: all 1s;
}
#section16 .mainhm5.on {
    transform: none;
    opacity: 1;

}

#section16 .mainhm6{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 830px;
    top:952px;

    transform: translateX(300px);
    transition: all 1s;
}
#section16 .mainhm6.on {
    transform: none;
    opacity: 1;

}

#section16 .mainhm7{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1553px;
    top:1645px;

    transform: translateX(-100px);
    transition: all 1s;
}
#section16 .mainhm7.on {
    transform: none;
    opacity: 1;

}

#section16 .mainhm8{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1640px;
    top:1745px;

    transform: translateX(-100px);
    transition: all 1s;
}
#section16 .mainhm8.on {
    transform: none;
    opacity: 1;

}

#section16 .mainhm9{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1710px;
    top:1745px;

    transform: translateX(-100px);
    transition: all 1s;
}
#section16 .mainhm9.on {
    transform: none;
    opacity: 1;

}


#section17{
    background:url(../img2/17category/category_bg.png);
    height:1876px;
}


#section17 .category_cc{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 320px;
    top: 550px;

    transform: scale(00);
    transition: all 1s;
}
#section17 .category_cc.on {
    transform: none;
    opacity: 1;

}
#section17 .category_cc2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: -150px;
    top: 800px;

    transform: scale(00);
    transition: all 1s;
}
#section17 .category_cc2.on {
    transform: none;
    opacity: 1;

}

#section17 .category_cc3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    right: -60px;
    top: 880px;

    transform: scale(00);
    transition: all 1s;
}
#section17 .category_cc3.on {
    transform: none;
    opacity: 1;
}

#section17 .category_cc4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    right: 550px;
    top: 1050px;

    transform: scale(00);
    transition: all 1s;
}
#section17 .category_cc4.on {
    transform: none;
    opacity: 1;
}

#section17 .category{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 230px;
    top: 1130px;

    transform: scale(00);
    transition: all 1s;
}
#section17 .category.on {
    transform: none;
    opacity: 1;

}


#section17 .category2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1385px;
    top: 435px;

    transform: scale(00);
    transition: all 1s;
}
#section17 .category2.on {
    transform: none;
    opacity: 1;

}
#section17 .category3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 515px;
    top: 917px;

    transform: scale(00);
    transition: all 1s;
}
#section17 .category3.on {
    transform: none;
    opacity: 1;

}


#section18{
    background:url(../img2/18intervw/intervw_bg.png);
    height:3600px;
}

.flow{
    position: absolute;
    display: flex;
    left: -500px;
    top: 150px;
    /*height: 1200px;*/
    right: 0;
    animation: rolling2 7s infinite linear;

}

@keyframes rolling2 {
    to{
        transform: translateX(-7841px);
    }
}
.flow2{
    position: absolute;
    display: flex;
    left: -1300px;
    top: 150px;
    /*height: 1200px;*/
    right: 0;
    animation: rolling2 6s infinite linear;

}

@keyframes rolling2 {
    to{
        transform: translateX(-7841px);
    }
}

.flow3{
    position: absolute;
    display: flex;
    left: -2000px;
    top: 150px;
    /*height: 1200px;*/
    right: 0;
    animation: rolling2 13s infinite linear;

}

@keyframes rolling2 {
    to{
        transform: translateX(-7841px);
    }
}


#section18 .intervwtt{
    position: absolute;
    top: 130px;
    left: 610px;
    text-align: center;
}


#section18 .intervw0 {
    width: 1920px;
    height: 1920px;
    opacity: 0;
    position: absolute;
    left: -600px;
    top: 1150px;

    transform: translateY(300px);
    transition: all 1s;
}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

#section18 .intervw0.on {
    transform: none;
    opacity: 1;
    animation: rotate_image 6s linear infinite;
    transform-origin: 50% 50%;
}


#section18 .intervw{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 345px;
    top:578px;


    transition: all 1s;
}
#section18 .intervw.on {
    transform: none;
    opacity: 1;

}

#section18 .intervw2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 677px;
    top:1190px;

    transform: translateX(300px);
    transition: all 1s;
}
#section18 .intervw2.on {
    transform: none;
    opacity: 1;

}
#section18 .intervw3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 525px;
    top:1190px;

    transform: translateX(300px);
    transition: all 1s;
}
#section18 .intervw3.on {
    transform: none;
    opacity: 1;

}
#section18 .intervw4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 364px;
    top:1190px;

    transform: translateX(300px);
    transition: all 1s;
}
#section18 .intervw4.on {
    transform: none;
    opacity: 1;

}

/*#section18 .intervw_movie_container{*/
/*    position: absolute;*/

/*}*/

#section18 .intervw_mkup{
    position: absolute;
    right: 395px;
    top: 520px;
    z-index: 99;

}

#section18 .intervw_movie{
    position: absolute;
    right: 510px;
    top: 648px;

}



#section18 .intervw5{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 95px;
    top:1605px;


    transition: all 1s;
}
#section18 .intervw5.on {
    transform: none;
    opacity: 1;

}


#section18 .intervw6{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 570px;
    top:1896px;
    z-index: 1;

    transform: translateX(-300px);
    transition: all 1s;
}
#section18 .intervw6.on {
    transform: none;
    opacity: 1;

}


#section18 .intervw7{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 810px;
    top:1896px;

    transform: translateX(-300px);
    transition: all 1s;
}
#section18 .intervw7.on {
    transform: none;
    opacity: 1;

}
#section18 .intervw8{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1120px;
    top:1935px;

    transform: translateX(-300px);
    transition: all 1s;
}
#section18 .intervw8.on {
    transform: none;
    opacity: 1;

}
#section18 .intervw9{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1150px;
    top:2100px;

    transform: translateX(-300px);
    transition: all 1s;
}
#section18 .intervw9.on {
    transform: none;
    opacity: 1;

}
#section18 .intervw10{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 770px;
    top:2560px;


    transition: all 1s;
}
#section18 .intervw10.on {
    transform: none;
    opacity: 1;

}
#section18 .intervw11{
    width: 206px;
    height: 203px;
    opacity:0;
    position: absolute;
    left: 1100px;
    top:3170px;

    transform: scale(00);
    transition: all 1s;
}
#section18 .intervw11.on {
    transform: none;
    opacity: 1;

}
#section18 .intervw12{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 350px;
    top:3170px;

    transform: translateX(300px);
    transition: all 1s;
}
#section18 .intervw12.on {
    transform: none;
    opacity: 1;

}


#section19{
    background:url(../img2/19analysis/analysis_bg.png);
    height:1109px;
}

#section19 .analysis{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1276px;
    top:0px;

    transform: translateY(-300px);
    transition: all 1s;
}
#section19 .analysis.on {
    transform: none;
    opacity: 1;

}
#section19 .analysis2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1070px;
    top:0px;


    transition: all 1s;
}
#section19 .analysis2.on {
    transform: none;
    opacity: 1;

}
#section19 .analysis3{
    width: 30px;
    height: 23px;
    opacity:0;
    position: absolute;
    left: 155px;
    top:595px;

    transform: scale(00);
    transition: all 1s;
}
#section19 .analysis3.on {
    transform: none;
    opacity: 1;

}


#section19 .analysis4{
    width: 30px;
    height: 23px;
    opacity:0;
    position: absolute;
    left: 215px;
    top:595px;

    transform: scale(00);
    transition: all 1s;
}
#section19 .analysis4.on {
    transform: none;
    opacity: 1;

}


#section19 .analysis5{
    width: 30px;
    height: 23px;
    opacity:0;
    position: absolute;
    left: 280px;
    top:595px;

    transform: scale(00);
    transition: all 1s;
}
#section19 .analysis5.on {
    transform: none;
    opacity: 1;

}
#section19 .analysis6{
    width: 30px;
    height: 23px;
    opacity:0;
    position: absolute;
    left: 350px;
    top:595px;

    transform: scale(00);
    transition: all 1s;
}
#section19 .analysis6.on {
    transform: none;
    opacity: 1;

}

#section19 .analysis7{
    width: 30px;
    height: 23px;
    opacity:0;
    position: absolute;
    left: 417px;
    top:595px;

    transform: scale(00);
    transition: all 1s;
}
#section19 .analysis7.on {
    transform: none;
    opacity: 1;

}


#section20{
    background:url(../img2/20cmnity/cmnity_bg.png);
    height:1812px;
}

#section20 .cmnity{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: -230px;
    top:100px;

    /*transform: translateY(200px);*/
    transform: scale(00);
    transition: all 1s;
}
#section20 .cmnity.on {
    transform: none;
    opacity: 1;

}

#section20 .cmnity2{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 595px;
    top:165px;
    transform: scale(00);
    /*transform: translateY(200px);*/
    transition: all 1s;
}
#section20 .cmnity2.on {
    transform: none;
    opacity: 1;

}
#section20 .cmnity3{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 240px;
    top:330px;
    transform: scale(00);
    /*transform: translateY(200px);*/
    transition: all 1s;
}
#section20 .cmnity3.on {
    transform: none;
    opacity: 1;

}

#section20 .cmnity4{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1010px;
    top:55px;
    transform: scale(00);
    /*transform: translateY(200px);*/
    transition: all 1s;
}
#section20 .cmnity4.on {
    transform: none;
    opacity: 1;

}

#section20 .cmnity5{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1290px;
    top:230px;

    transform: translateY(300px);
    transition: all 1s;
}
#section20 .cmnity5.on {
    transform: none;
    opacity: 1;

}
#section20 .cmnity6{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 170px;
    top:730px;

    transform: translateY(300px);
    transition: all 1s;
}
#section20 .cmnity6.on {
    transform: none;
    opacity: 1;

}



#section21{
    background:url(../img2/21end/end_bg.png);
    height:591px;
}


#section21 .end{
    width: 34px;
    height: 23px;
    opacity:0;
    position: absolute;
    left: 859px;
    top:183px;

    transform: scale(00);
    transition: all 1s;
}
#section21 .end.on {
    transform: none;
    opacity: 1;

}
#section21 .end2{
    width: 34px;
    height: 23px;
    opacity:0;
    position: absolute;
    left: 927px;
    top:183px;

    transform: scale(00);
    transition: all 1s;
}
#section21 .end2.on {
    transform: none;
    opacity: 1;

}
#section21 .end3{
    width: 34px;
    height: 23px;
    opacity:0;
    position: absolute;
    left: 990px;
    top:183px;

    transform: scale(00);
    transition: all 1s;
}
#section21 .end3.on {
    transform: none;
    opacity: 1;

}
#section21 .end4{
    width: 34px;
    height: 23px;
    opacity:0;
    position: absolute;
    left: 633px;
    top:290px;

    transform: translateY(100px);
    transition: all 1s;
}
#section21 .end4.on {
    transform: none;
    opacity: 1;

}



.fly1 {animation: motion 0.4s linear 0s infinite alternate; margin-top: 0;}

@keyframes motion {
    0% {margin-top: 0px;}
    100% {margin-top: 10px;}
}

.fly2 {animation: motion 0.6s linear 0s infinite alternate; margin-top: 0;}

@keyframes motion {
    0% {margin-top: 0px;}
    100% {margin-top: 10px;}
}


.fly3 {animation: motion 0.8s linear 0s infinite alternate; margin-top: 0;}

@keyframes motion {
    0% {margin-top: 0px;}
    100% {margin-top: 10px;}
}



#section22{
    background:url(../img2/22footer/footer_bg.png);
    height:500px;
}

.footertt-container{
    position: relative;
    text-align: center;
    top: 150px;
}

.ft_title{
    opacity: 0;
    transform:translateY(50px);
    transition: all 1s;
}


.ft_title.on{
    transform:none;
    opacity:1;

}

.ft_title2{
    opacity: 0;
    transform:translateY(50px);
    transition: all 1s;
}


.ft_title2.on{
    transform:none;
    opacity:1;

}

.footerbt-container{
    display: flex;
    width: 1920px;
    position: absolute;
    justify-content: space-between;
}

.ft_button1{
    cursor: pointer;
}

.ft_button2{
    cursor: pointer;
}


.ft_contact{
    position: absolute;
    left: 50px;
    bottom: 50px;

}


.footer-listbutton{
    cursor: pointer;
    position: absolute;
    display: flex;
    right: 0;
    bottom: 50px;
}

